<div>
  <h1>You have been authenticated! </h1></br>
	<a href="/account">Show user information</a></br>
  <a href="/token">Token information (as example. Users should not get tokens by default!)</a>

</div>
