
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Read User</title>
<link href="/static/css/style.css" rel="stylesheet">
<script type="text/javascript">
</script>
</head>
<body>
	<div id="content" align="center">
		<h1>Create User</h1>
		<div>
		<form method="post">

			 <label>username:</label>
			 <input type="text" name="user_name"/><br>
			 <label>authentication type: </label>
		   <input type="text" name="auth_type"/><br>
			 <label>password (optional): </label>
		   <input type="password" name="password"/><br>
			 <label>role: </label>
		   <input type="text" name="role"/><br>
			 <input type="submit" value="Submit" />
	</form>
	</div>
</div>

</body>
</html>
