
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Create Group</title>
<link href="/static/css/style.css" rel="stylesheet">
<script type="text/javascript">
</script>
</head>
<body>
	<div id="content" align="center">
		<h1> Create group</h1>
		<div>
		<form method="post">

			 <label>name: </label>
		   <input type="text" name="group_name"/><br>
			 <input type="submit" value="Submit" />
	</form>
	</div>
</div>

</body>
</html>
