
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Delete Attribute for Entity</title>
<link href="/static/css/style.css" rel="stylesheet">

</head>
<body>
	<div id="content" align="center">
		<h1>Delete Attribute for Entity</h1>
		<div>
		<form method="post">
			<div name = "id_info">
			 <header><b>Id info</b></header><br>
			 <label>entity id:</label>
			 <input type="text" name="entity_id"/><br>
			 <label>entity type: </label>
 			 <input type="text" name="entity_type"/><br>
		 </div>
		 <div name = "attribute_info">
			 <br><header><b>Attribute info</b></header><br>
	 		 <label>attribute</label>
			 <div id="attribute_form">
			 <input type="text" name="attribute_name"/><br>
        </div>
		 </div>
		 <input type="submit" value="Submit" />
	</form>
	</div>
</div>

</body>
</html>
