
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Find Entity</title>
<link href="/static/css/style.css" rel="stylesheet">
<script type="text/javascript">
</script>
</head>
<body>
	<div id="content" align="center">
		<h1><%= action %>  entity information</h1>
		<div>
		<form method="post">

			 <label>entity type:</label>
			 <input type="text" name="entity_type"/><br>
			 <label>entity id: </label>
		   <input type="text" name="entity_id"/><br>
			 <input type="submit" value="Submit" />
	</form>
	</div>
</div>

</body>
</html>
